{% extends "base.html" %}
{% load static i18n %}
{% block title %}Requests{% endblock %}

{% block content %}
    <div class="container">
        <h2>Requests</h2>

        <div class="list-group">

            {% for object in object_list %}

                    <a href="{% url 'request:detail' object.id %}" class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                <p class="list-group-item-heading">{{ object.description|slice:60 }}</p>
                            </div>
                            <div class="col-md-3">
                                by {{ object.creator }}
                            </div>
                            <div class="col-md-3">
                                by {{ object.updated_by|default:'-' }}
                            </div>
                            <div class="col-md-2">
                                {{ object.get_status_display }}
                            </div>
                        </div>
                    </a>

            {% endfor %}
        </div>
    </div>
{% endblock content %}
