{% extends "base.html" %}
{% load static i18n %}
{% block title %}Requests{% endblock %}

{% block content %}
<div class="container">
  <h2>User Requests</h2>
    <a href="{% url 'request:create' %}" class="btn btn-info">Create</a>
  <div class="list-group">
    {% for reqeuest in object_list %}
      <a href="{% url 'request:detail' reqeuest.id %}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ reqeuest.description }}</h4>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}
