{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <p>{{ object.description }}</p>
      <p>{{ object.status }}</p>
    </div>
  </div>


<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'requests:update' object.id %}" role="button">Update Request</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->


</div>
{% endblock content %}

